.game-container {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to bottom, #232526, #414345);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-button {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #1dd1a1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
  transition: 0.3s;
}

.game-button:hover {
  background-color: #10ac84;
}
